.important {

    border-color: var(--neutral-on-solid-strong) !important;
    border-width: 2px !important;
    background-color: var(--surface-background) !important;
    color: var(--neutral-on-background-medium) !important;

}